{% extends "base.html" %}

{% block title %}Add data{% endblock title %}
{% block content %}
    <h1>Current data count: {{ data_count }}</h1>
    <h1>Add data:</h1>
    <form method="post">
        <div class="mb-3">
            <label for="age" class="form-label">Age</label>
            <input type="number" class="form-control" id="age" name="age">
            {% if form.age.errors %}
                <ul class="errorlist">
                    {% for error in form.age.errors %}
                        <li class="text-danger">{{ error }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
        </div>
        <div class="mb-3">
            <label for="gender" class="form-label">Gender</label>
            <select class="form-select" id="gender" name="gender">
                <option value="M">Male</option>
                <option value="F">Female</option>
            </select>
        </div>
        <div class="mb-3">
            <label for="blood_pressure" class="form-label">Blood pressure</label>
            <select class="form-select" id="blood_pressure" name="blood_pressure">
                <option value="LOW">LOW</option>
                <option value="NORMAL">NORMAL</option>
                <option value="HIGH">HIGH</option>
            </select>
        </div>
        <div class="mb-3">
            <label for="cholesterol" class="form-label">Cholesterol</label>
            <select class="form-select" id="cholesterol" name="cholesterol">
                <option value="NORMAL">NORMAL</option>
                <option value="HIGH">HIGH</option>
            </select>
        </div>
        <div class="mb-3">
            <label for="Na_to_K" class="form-label">Na to Potassium Ratio</label>
            <input type="number" class="form-control" id="Na_to_K" name="Na_to_K">
            {% if form.Na_to_K.errors %}
                <ul class="errorlist">
                    {% for error in form.Na_to_K.errors %}
                        <li class="text-danger">{{ error }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
        </div>
        <div class="mb-3">
            <label for="drug" class="form-label">Drug</label>
            <select class="form-select" id="drug" name="drug">
                <option value="drugX">Drug X</option>
                <option value="DrugY">Drug Y</option>
                <option value="drugA">Drug A</option>
                <option value="drugB">Drug B</option>
                <option value="drugC">Drug C</option>
            </select>
        </div>
        <button type="submit" class="btn btn-primary">Add</button>
    </form>
{% endblock content %}
