{% extends "base.html" %}

{% block title %}ML{% endblock title %}
{% block content %}
    <h1>Predict drug type</h1>
    <form method="post">
        <div class="mb-3">
            <div class="d-flex align-items-center">
                <div class="form-check">
                    <input type="checkbox" class="form-check-input"
                           id="include_age" name="include_age" checked>
                </div>
                <div class="flex-column w-100">
                    <label for="age" class="form-label">Age</label>
                    <input type="number" class="form-control" id="age" name="age">
                </div>
            </div>
            {% if form.age.errors %}
                <ul class="errorlist">
                    {% for error in form.age.errors %}
                        <li class="text-danger">{{ error }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
        </div>
        <div class="mb-3">
            <div class="d-flex align-items-center">
                <div class="form-check">
                    <input type="checkbox" class="form-check-input"
                           id="include_gender" name="include_gender" checked>
                </div>
                <div class="flex-column w-100">
                    <label for="gender" class="form-label">Gender</label>
                    <select class="form-select" id="gender" name="gender">
                        <option value="M">Male</option>
                        <option value="F">Female</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="mb-3">
            <div class="d-flex align-items-center">
                <div class="form-check">
                    <input type="checkbox" class="form-check-input"
                           id="include_blood_pressure" name="include_blood_pressure" checked>
                </div>
                <div class="flex-column w-100">
                    <label for="blood_pressure" class="form-label">Blood pressure</label>
                    <select class="form-select" id="blood_pressure" name="blood_pressure">
                        <option value="LOW">LOW</option>
                        <option value="NORMAL">NORMAL</option>
                        <option value="HIGH">HIGH</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="mb-3">
            <div class="d-flex align-items-center">
                <div class="form-check">
                    <input type="checkbox" class="form-check-input"
                           id="include_cholesterol" name="include_cholesterol" checked>
                </div>
                <div class="flex-column w-100">
                    <label for="cholesterol" class="form-label">Cholesterol</label>
                    <select class="form-select" id="cholesterol" name="cholesterol">
                        <option value="NORMAL">NORMAL</option>
                        <option value="HIGH">HIGH</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="mb-3">
            <div class="d-flex align-items-center">
                <div class="form-check">
                    <input type="checkbox" class="form-check-input"
                           id="include_Na_to_K" name="include_Na_to_K" checked>
                </div>
                <div class="flex-column w-100">
                    <label for="Na_to_K" class="form-label">Na to Potassium Ratio</label>
                    <input type="number" class="form-control" id="Na_to_K" name="Na_to_K">
                </div>
            </div>
            {% if form.Na_to_K.errors %}
                <ul class="errorlist">
                    {% for error in form.Na_to_K.errors %}
                        <li class="text-danger">{{ error }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
        </div>
        <button type="submit" class="btn btn-primary">Predict</button>
    </form>
{% endblock content %}